/*all*/

html {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	min-height: 100vh;
}

*, *:before, *:after {
	box-sizing: inherit;
}


* {
	margin: 0;
	padding: 0;
	/*font defaults*/
	font-family: 'PT Sans', sans-serif;
	color: #001f3f;
	
}

body {
	width: 100%;
	height: 100%;
	background: #AAAAAA;
}

h1, h2 {
	margin: 20px 0;
	text-align: center;
}

h3 {
	margin-bottom: 20px;
	text-align: center;
}


/*navigation*/

.navigation {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 60px;
	z-index: 30;
	border-bottom: 3px solid #0074D9;
	background: white;
	box-shadow: 0 0px 5px #0074D9;
}

.navigation > a {
	text-decoration: none;
	color: #001f3f;
	font-family: 'Galada', Georgia, Serif;
	font-size: 24pt;
	line-height: 60px;
	width: 114px;
	text-wrap: none;
	position: fixed;
	left: 4vw;
}

.navlist {
	position: fixed;
	right: 2.6vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	height: 60px;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

	/*replace full nav items for smaller screens*/
@media screen and (max-width: 1000px) {
	.navigation > a {left: 1.8vw;}
}

@media screen and (max-width: 927px) {
	.navlist {right: 1vw};
}

@media screen and (max-width: 835px) {
	.navigation > a {left: 0.8vw;}
}

.navlist a {
	width: 10vw;
	text-align: center;
	text-decoration: none;
	color: #001f3f;
	-webkit-transition: background 300ms, color 300ms;
	transition: background 300ms, color 300ms;
}

.navlist a:hover {
	background: #0074D9;
}

.navlist a:hover li {
	color: white;
}

.navlist a li {
	font-size: 14pt;
	line-height: 60px;
}

.navspacer {
	height: 60px;
}

.toggle {
	display: none;
	color: #001f3f;
}

	/*mobile sidebar*/

#sidebartoggler, .sidebar  {
	display: none;
}

/* navigation for smaller than tablet/mobile */
@media screen and (max-width: 720px) {
	
	
	.navigation > a {
		display: block;
		left: 50%;
		-webkit-transform: translate(-50%, 0%);
		        transform: translate(-50%, 0%);
	}
	
	.navlist {
		display: none;
	}
	
	.sidebar {
		display: block;
		top: -80vh;
		-webkit-transition: all 250ms;
		transition: all 250ms;
	}
	
	#sidebartoggler:checked + #maincontainer .sidebar {
		display: block;
		top: 60px;
	}
	
	.toggle {
		display: inline-block;
		position: fixed;
		right: 20px;
		cursor: pointer;
		text-decoration: none;
		z-index: 4;
		height: 55px;
		width: 50px;
		padding: 10px;
	}
	
	.hoverbuns {
		display: block;
		height: 35px;
		width: 30px;
		position: relative;
	}
	
	.bun1, .bun2, .bun3 {
		display: block;
		height: 5px;
		width: 30px;
		background: #001f3f;
		-webkit-transition: 300ms all;
		transition: 300ms all;
		position: absolute;
	}
	
	.bun1 {top: 5px;}
	
	.bun2 {top: 15px;}
	
	.bun3 {bottom: 5px;}
	
	.hoverbuns:hover .bun1 {
		top: 2px
	}
	
	.hoverbuns:hover .bun3 {
		bottom: 2px;
	}
	
		/*transition burger menu icon*/
	#sidebartoggler:checked + #maincontainer .bun1 {
		top: 15px;
		-webkit-transform: rotate(45deg);
		        transform: rotate(45deg);
	}
	#sidebartoggler:checked + #maincontainer .bun2 {
		width: 0;
	}
	#sidebartoggler:checked + #maincontainer .bun3 {
		-webkit-transform: rotate(-45deg);
		        transform: rotate(-45deg);
		bottom: 15px;
	}
	
	
	.sidebar {
		z-index: 20;
		position: fixed;
		left: 0;
		right: 0;
		height: 80vh;
		background: rgba(255,255,255, 0.85);
	}

	.sidebar ul {
		list-style: none;
		position: fixed;
		right: 0;
		width: 100%;
	}

	.sidebar ul a {
		text-decoration: none;
		height: 10vh;
		text-align: center;
		line-height: 10vh;
		display: block;
		color: #001f3f;
		border-bottom: 1px solid #001f3f;
	}

	.sidebar ul a li {
		position: relative;
		display: inline;
		font-size: 18pt;
	}
} /*end smaller than tablet*/
	

.navspacer {
	height: 60px;
}


/*index*/
	/*titlebar*/
.titlebar {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.titleimg {
	-webkit-filter: blur(0px) opacity(0.9);
	filter: blur(0px) opacity(0.9);
	width: 100%;
	position: relative;
	z-index: 2;
	display: block;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	text-align: center;
	z-index: 3;
	background: rgba(255,255,255,0.4);
	-webkit-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
	padding: 0px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.title a {
	text-decoration: none;
	display: block;
	padding-left: 3px;
	padding-right: 3px;
	-webkit-transition: padding 300ms;
	transition: padding 300ms;
}

.maintitle, .subtitle {
	font-family: 'Galada', Georgia, Serif;
	color: #0074D9;
	-webkit-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
	text-decoration: bold;
	width: 100%;
	display: block;
}


.maintitle {font-size: 30pt;}
.subtitle {font-size: 20pt;}

.title:hover .maintitle {
	font-size: 40pt;
}

.title:hover .subtitle {
	font-size: 30pt;
}

.title:hover {
	background: rgba(255,255,255,1);
	box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.title:hover a {
	padding: 10px;
}

/*title img effects on text hover - removed for speed*/
/* .title:hover + img {
  -webkit-filter: blur(5px) opacity(0.8);
  filter: blur(5px) opacity(0.8);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
} */

	/*main content*/


	
.mainwrapper {
	background: #0074D9;

	padding: 0;
	
}

.mainpaddingdiv {
	padding: 10px 10px 30px 10px;
}

.main {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 40px;
	background: white;
	box-shadow: 0 5px 5px rgba(0,0,0,0.3);
	text-align: justify;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.main > div:first-child {
	width: 100%;
}

@media screen and (max-width: 720px) {
	.main {
		padding: 5px;
	}
}

.main > div {
	margin-bottom: 56px;
	width: 100%;
}

.main > div:last-child {
	margin-bottom: 14px;
}

.main p, .main li {
	margin-bottom: 14px; /*space everything out*/
}

.main li > ul {
	margin-top: 14px; /*spacing for first element of tiered lists*/
}

.main a {
	text-decoration: none;
	color: #0074D9;
}

.main li {
	margin-left: 30px;
}

		/*index content*/

.homepage {font-size: 20pt;}

.welcome > a {
	/* margin-bottom: 14px; */ /*space everything out*/
}
				
.fb_buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.fb_buttons > * {
	
}
		
.main .fb-follow-button {
	margin-bottom: 14px;
}

.main .fb-like-button	{	
	width: 100%;
	max-width: 450px;
	max-height: 80px;
	margin-bottom: 14px;
}

.main div.home_social {
	width: 60%;
}

.main div.upcoming_events {
	text-align: center;
	width: 35%;
}

@media screen and (max-width: 720px) { /*too small to have upcoming events next to homesocial*/
	.main div.home_social, .main div.upcoming_events {
		width: 100%;
	}
}

.main div.upcoming_events > div {
	position: relative;
	height: 500px;
}

.main div.upcoming_events iframe {
	position: absolute;
	width: 100%;
	height: 100%;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


/*calendar*/

.calendarcontainer {
    position: relative;
	top: 20px;
    left: 0;
    bottom: 0;
	right: 0;
	height: 80vw;
	min-height: 500px;
	max-height: 940px;
}

.calendarcontainer > div {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	z-index: 10;
}
 
.calendarcontainer iframe {
	position: absolute;
	width: 100%;
	height: 100%;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 11;
	display: none;
}

	/*full calendar */
.calendarcontainer .fullcalendar {
	display: block;
}

	
	/*phablet, drop print and nav*/
@media screen and (max-width: 500px) {
	.calendarcontainer .fullcalendar {
		display: none;
	}
	
	.calendarcontainer .medcalendar {
		display: block;
	}
}
	
	/*mobile, default agenda with small display*/
@media screen and (max-width: 400px) {
	.calendarcontainer .medcalendar {
		display: none;
	}
	.calendarcontainer .smallcalendar {
		display: block;
	}
	
	.calendarcontainer {
		height: 60vw;
		min-height: 375px;
		max-height: 940px;
	}
}


/*gallery*/

.galvideos, .galimages {
	height: 100%;
	text-align: center;
}


.galvideos iframe {
	width: 88vw;
	height: 50vw;
	/* height: auto; */
	/* min-height: 600px; */
	margin-bottom: 14px;
	max-width: 880px;
	max-height: 500px;
}

.galimages img {
	width: 100%;
	margin-bottom: 14px;
}



/*music*/

.albuminfo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
}

.albuminfo div h3, .albuminfo div p {
	text-align: right;
	margin: 0 15px 15px 0;
}

.albums img {
	width: 30%;
}

.lyricsflex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
}

.lyricsflex div {
	width: 100%;
	max-width: 350px;
}


.lyrics h3, .lyrics p {
	margin: 20px 0;
	text-align: center;
}



/*about*/
	/*section needs to be mobile optimized for <768p*/
	

.explain8 p {
	text-align: justify;
}

.members {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.members > h2 {width: 100%;}

.members div {
	width: 45%;
	height: auto;
	margin: 20px 5px 20px 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}


.members img {
	width: 45vw;
	height: 45vw;
	max-width: 320px;
	max-height: 320px;
	margin: 20px 5px 20px 5px;
}



.rightalignchildren > * {
	text-align: right;
	width: 90%;
	margin-left: 10%;
}

.leftalignchildren > * {
	text-align: left;
	width: 90%;
	margin-right: 10%;
}

@media screen and (max-width: 768px) {
	.members img {
		width: 75vw;
		height: 75vw;
		max-width: initial;
		max-height: initial;
		margin-bottom: 5px;
	}
	
	.members > div {
		width: 100%;
		margin: 0 5px;
	}
	
	.members > div > * {
		text-align: justify;
		margin-left: 0;
		width: 100%;
	}
	
	.members > div > h3 {text-align: center;}
	
	.ord1 {-webkit-box-ordinal-group: 2;-ms-flex-order: 1;order: 1;}
	.ord2 {-webkit-box-ordinal-group: 3;-ms-flex-order: 2;order: 2;}
	.ord3 {-webkit-box-ordinal-group: 4;-ms-flex-order: 3;order: 3;}
	.ord4 {-webkit-box-ordinal-group: 5;-ms-flex-order: 4;order: 4;}
	.ord5 {-webkit-box-ordinal-group: 6;-ms-flex-order: 5;order: 5;}
	.ord6 {-webkit-box-ordinal-group: 7;-ms-flex-order: 6;order: 6;}
	.ord7 {-webkit-box-ordinal-group: 8;-ms-flex-order: 7;order: 7;}
	.ord8 {-webkit-box-ordinal-group: 9;-ms-flex-order: 8;order: 8;}
	.ord9 {-webkit-box-ordinal-group: 10;-ms-flex-order: 9;order: 9;}
	.ord10 {-webkit-box-ordinal-group: 11;-ms-flex-order: 10;order: 10;}
	
}



/*store*/
.online-vendor-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}



/*donate*/
.paypal-donate form {
	text-align: center;
}

.paypal-donate form input {
	display: block;
	margin: 0 auto;
}


/*footer*/

.footer {
	background: #AAAAAA;
	color: white;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	box-shadow: 0 -1px 1px rgba(0,0,0,0.3);
	z-index: 1;
}

.footerwidthwrapper {max-width: 960px; margin: 0 auto; padding: 0 40px;}

@media screen and (max-width: 720px) {
	.footerwidthwrapper {padding: 0 15px;}
}

.footerwidthwrapper > div {
	margin-bottom: 16px;
}


	/*individual footer subdivs*/
.footer .fbfeed, .footer .twitterfeed {
	width: 49%;
	min-width: 300px;
	display: inline-block;
	overflow: hidden;
}

@media screen and (max-width: 720px) {
	.footer .fbfeed, .footer .twitterfeed {
		width: 100%;
		min-width: 0px;
		display: inline-block;
		overflow: hidden;
	}
}



.footernav ul {list-style: none;}

.footernav ul a {
	text-decoration: none;
}

.footernav ul li {display:inline;}

.footernav ul li:not(:first-child):before {
	content: "// ";
	position: relative;
	left: -1px;
}



/***Master Display Styling***/

/*default - desktop*/
.display_desktop {display: block;}
.display_mobile {display:none;}



/* smaller than tablet */
@media screen and (max-width: 720px) {
	.display_desktop {display: none;}
	.display_mobile {display: block;}
}